/* Highlights */
.highlights {
  width: 100%;
  margin: 2.5rem 0;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-align-items: -moz-stretch;
  -webkit-align-items: -webkit-stretch;
  -ms-align-items: -ms-stretch;
  align-items: stretch; }
.highlights > * {
  -moz-flex-shrink: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0; }
.highlights > * {
  width: 33.3333333333%; }
.highlights > * {
  padding: 1.5rem;
  width: calc(33.3333333333% + 1rem); }
.highlights > :nth-child(-n + 3) {
  padding-top: 0; }
.highlights > :nth-last-child(-n + 3) {
  padding-bottom: 0; }
.highlights > :nth-child(3n + 1) {
  padding-left: 0; }
.highlights > :nth-child(3n) {
  padding-right: 0; }
.highlights > :nth-child(3n + 1),
.highlights > :nth-child(3n) {
  width: calc(33.3333333333% + -0.5rem); }
.highlights .content {
  border-radius: 4px;
  height: 100%;
  padding: 3rem;
  text-align: center; }
.highlights .content .icon {
  font-size: 5rem; }
.highlights > div > :last-child {
  margin-bottom: 0; }
@media screen and (max-width: 980px) {
  .highlights > * {
    width: 50%; }
  .highlights > * {
    padding: 1rem;
    width: calc(33.3333333333% + 0.6666666667rem); }
  .highlights > :nth-child(-n + 3) {
    padding-top: 1rem; }
  .highlights > :nth-last-child(-n + 3) {
    padding-bottom: 1rem; }
  .highlights > :nth-child(3n + 1) {
    padding-left: 1rem; }
  .highlights > :nth-child(3n) {
    padding-right: 1rem; }
  .highlights > :nth-child(3n + 1),
  .highlights > :nth-child(3n) {
    padding: 1rem;
    width: calc(50% + 1rem); }
  .highlights > * {
    padding: 1rem;
    width: calc(50% + 1rem); }
  .highlights > :nth-child(-n + 2) {
    padding-top: 0; }
  .highlights > :nth-last-child(-n + 2) {
    padding-bottom: 0; }
  .highlights > :nth-child(2n + 1) {
    padding-left: 0; }
  .highlights > :nth-child(2n) {
    padding-right: 0; }
  .highlights > :nth-child(2n + 1),
  .highlights > :nth-child(2n) {
    width: calc(50% + 0rem); }
  .highlights .content {
    padding: 2rem; } }
@media screen and (max-width: 736px) {
  .highlights > * {
    width: 100%; }
  .highlights > * {
    padding: 1rem;
    width: calc(33.3333333333% + 0.6666666667rem); }
  .highlights > :nth-child(-n + 3) {
    padding-top: 1rem; }
  .highlights > :nth-last-child(-n + 3) {
    padding-bottom: 1rem; }
  .highlights > :nth-child(3n + 1) {
    padding-left: 1rem; }
  .highlights > :nth-child(3n) {
    padding-right: 1rem; }
  .highlights > :nth-child(3n + 1),
  .highlights > :nth-child(3n) {
    padding: 1rem;
    width: calc(100% + 2rem); }
  .highlights > * {
    padding: 1rem;
    width: calc(50% + 1rem); }
  .highlights > :nth-child(-n + 2) {
    padding-top: 1rem; }
  .highlights > :nth-last-child(-n + 2) {
    padding-bottom: 1rem; }
  .highlights > :nth-child(2n + 1) {
    padding-left: 1rem; }
  .highlights > :nth-child(2n) {
    padding-right: 1rem; }
  .highlights > :nth-child(2n + 1),
  .highlights > :nth-child(2n) {
    padding: 1rem;
    width: calc(100% + 2rem); }
  .highlights > * {
    padding: 1rem;
    width: calc(100% + 2rem); }
  .highlights > :nth-child(-n + 1) {
    padding-top: 0; }
  .highlights > :nth-last-child(-n + 1) {
    padding-bottom: 0; }
  .highlights > :nth-child(1n + 1) {
    padding-left: 0; }
  .highlights > :nth-child(1n) {
    padding-right: 0; }
  .highlights > :nth-child(1n + 1),
  .highlights > :nth-child(1n) {
    width: calc(100% + 1rem); } }

.highlights .content {
  background: #ffffff;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.025); }
