<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>

  <img src="{{imgURL}}">
  <div>{{getName()}}</div>
  <div>{{shortName}}</div>
  <div>個人資訊</div>
  <div>Company: {{conpany}}</div>
  <div>Job Title: {{jobTitle}}</div>
  <div>Location: {{location}}</div>
  <div>self introduction:<br>{{selfIntroduction}}</div>
  <table border="1">
    <tr>
<!--      <a href="">-->
        <div>{{projectName}}</div>
        <div>{{projectIntroduction}}</div>
<!--      </a>-->
    </tr>
    <tr>
      <!--      <a href="">-->
      <div>{{projectName}}</div>
      <div>{{projectIntroduction}}</div>
      <!--      </a>-->
    </tr>
    <tr>
      <!--      <a href="">-->
      <div>{{projectName}}</div>
      <div>{{projectIntroduction}}</div>
      <!--      </a>-->
    </tr>
    <tr>
      <!--      <a href="">-->
      <div>ADD NEW PROJECT</div>
      <!--      </a>-->
    </tr>
  </table>



</body>
</html>
