<app-header></app-header>
<div class="row" style="padding:10px 100px 10px 100px;">
  <div class="col-4">
    <app-personal-imformation></app-personal-imformation>
  </div>


  <div class="col-8">
    <div>
      <table>
        <section *ngFor="let projectName of projectNames">
          <tr>
            <div>

              <button class="myButton" (click)="choose_repo()">
                <div>{{projectName}}</div>
                <div>({{projectIntroduction}})</div>
              </button>
            </div>
          </tr>

        </section>
      </table>





    </div >
          <div><button class="myButton" (click)="goToAddProjectPage()">ADD NEW PROJECT</button></div>



  </div>
</div>



