
<app-header></app-header>
<div class="row" style="padding:10px 100px 10px 100px;">
  <div class="col-4">
    <br>
    <app-personal-imformation></app-personal-imformation>
  </div>


  <div class="col-8">
    <br>
    <div>
      <table>
        <section *ngFor="let item of datas">
          <tr>
            <div>
              <button  class="myButton" (click)="choose_repo($event)" id = "{{item.projectId}}" >
                專案名稱:{{item.projectName}}<br/>
                專案敘述:{{item.projectDescription}}<br/>
                Repo個數:{{item.gitRepoCount}}<br/>
                開始時間:{{item.projectStartTime}}
              </button><button style=" text-align:right;border-radius:10px;" (click)="delete_repo([item.projectId])" ><img src="./assets/images/trash.png"  width="50px" ></button>
<!--              上面binding的變數可以透過"[]"來傳入函數!!!!  -->
            </div>
          </tr>

        </section>
      </table>

    </div >
          <div><button class="myButton2" (click)="goToAddProjectPage()">ADD NEW PROJECT</button></div>



  </div>
</div>
<app-footer></app-footer>



