<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>This is Angular page.</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<!--This is Angular page.<br>-->
<!--  <a href="admin/">Go To Admin. Page</a>-->
<!--  <router-outlet></router-outlet>-->

<!--  <a href="choose-project/choose-project.component.html">Go To choose project</a>-->
<!--  <app-choose-repository></app-choose-repository>-->
<!--  <app-login></app-login>-->
  <router-outlet></router-outlet>
  </body>
</html>
