<app-header></app-header>
<br>
<div class="row" style="padding:10px 100px 10px 100px;">
  <div class="col-4">
    <app-personal-imformation></app-personal-imformation>
  </div>


  <div class="col-8">
    <div>
      <table>
        <tr>

          <td *ngFor="let item of datas">
            <button class="myButton" (click)="goToAnalysisPage($event)" id = "{{item.repoName}}">Repo_Name:{{item.repoName}}<br/>Owner:{{item.ownerName}}<br/>
            </button>
          </td>


        </tr>
        <tr>
          <td>
            <button mat-raised-button class="multipageButton" (click)="goToAnalysisMultiPage()">比較多個Repo</button>
          </td>
        </tr>

      </table>


    </div>


  </div>
</div>
<app-footer></app-footer>



