<app-header></app-header>
<br>
<div class="row" style="padding:10px 100px 10px 100px;">
  <div class="col-4">
    <app-personal-imformation></app-personal-imformation>
  </div>


  <div class="col-8">
    <div>
      <table>
        <tr>
          <td *ngFor="let repoName of repoNames">

            <button class="myButton" (click)="goToAnalysisPage()">
              <div>{{repoName}}</div>

            </button>
          </td>
        </tr>
      </table>


    </div>
    <button class="myButton2" (click)="goToAddRepoPage()">
      <div>ADD REPO</div>
    </button>


    <!--    <button (click)="goToDeleteRepoPage()"><div>DELETE REPO</div></button>-->
    <!--    <button (click)="chooseMuti()"><div>CHOOSE MUTI</div></button>-->

  </div>
</div>



