

<div class="row" style="padding:10px 100px 10px 100px;">
  <div class="col-3">
    <img src="{{imgURL}}" width="100" height="150">
    <div>{{name}}</div>
    <div>{{shortName}}</div>
    <div>個人資訊</div>
    <div>Company: {{conpany}}</div>
    <div>Job Title: {{jobTitle}}</div>
    <div>Location: {{location}}</div>
    <div>self introduction:<br>{{selfIntroduction}}</div>
  </div>

  <div class="col-5">
    <table border="1">
      <td *ngFor="let repoName of repoNames">
        {{repoName}}
      </td>
    </table>
    <table border="1">
      <td>ADD REPO</td>
      <td>DELETE REPO</td>
      <td>CHOOSE MUTI</td>
    </table>
  </div>
</div>

