<app-header></app-header>
<div class="row" style="padding:10px 100px 10px 100px;">
  <div class="col-4">
    <app-repo-imformation></app-repo-imformation>
  </div>
  <div class="col-8">
    <br>
    <h2>CODE BASE</h2>
    <div>{{repoName}}<br>{{codeCounts}}&nbsp;code&nbsp;&nbsp;/&nbsp;&nbsp;{{codeAdd}}&nbsp;++&nbsp;&nbsp;/&nbsp;&nbsp;{{codeRemove}}&nbsp;--</div>
    <button (click)="getCodeBase()">Show Commit Trend</button>
    <div style="display: block;width: 80%;">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType">
      </canvas>
    </div>

  </div>
</div>

