<app-header></app-header>
<div class="row" style="padding:10px 100px 10px 100px;">
  <div class="col-4">
    <app-repo-imformation></app-repo-imformation>
  </div>
  <div class="col-8">
    <br>
    <h2>CODE BASE</h2>
    <h4>Total Code lines:{{codeCounts}}</h4>

    <table>
      <thead>
      <tr width="80%">
        <th colspan="2">
          <canvas baseChart
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [chartType]="barChartType">
          </canvas>
        </th>
      </tr>

      </thead>
      <tbody>
      <tr>
        <td>
          <canvas baseChart
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType">
          </canvas>
        </td>
        <td>
          <canvas baseChart
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [chartType]="barChartType">
          </canvas>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
<app-footer></app-footer>

