<app-header></app-header>
<div class="row" style="padding:10px 100px 10px 100px;">
  <div class="col-2">
    <app-repo-imformation></app-repo-imformation>
  </div>
  <div class="col-10">
    <br>
    <h2>CODE BASE</h2>
    <h4>Total Code lines:{{codeCounts}}</h4>
    <div style="display: block;width: 80%;">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType">
      </canvas>
    </div>

  </div>
</div>
<app-footer></app-footer>
