body {
    background-color: #343434;
}

.button {
    width: 100px;
    text-align: center;
    color: rgb(7, 4, 4);
    font-size: 3em;
}

.button:hover .hover {
    display: block;
}

.hover {
    display: none;
    background-color: #ffb2b2;
}