<app-header></app-header>
<br>
<br>
<div class="row" style="padding:10px 100px 10px 100px;">
  <div class="col-2">
    <app-repo-imformation></app-repo-imformation>
  </div>
  <div class="col-10">
    <h2>COMMIT TREND</h2>
    <h5>Total Commits: {{commitCounts}}</h5>
    <table width="75%">

      <tr>
        <td colspan="2">
          <canvas baseChart
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [chartType]="barChartType">
          </canvas>
        </td>
      </tr>

      <td>
        <tr>
        </tr>
        <caption style="text-align:center; color:blue" *ngFor="let barChar of leftTatolbarCharlist">{{barChar[5]}}
            <canvas baseChart width="500%"
                    [datasets]="barChar[4]"
                    [labels]="barChar[3]"
                    [options]="barChar[0]"
                    [legend]="barChar[2]"
                    [chartType]="barChar[1]">
            </canvas>
        </caption>
      </td>

      <td>
        <caption style="text-align:center; color:blue" *ngFor="let barChar of rightTatolbarCharlist">{{barChar[5]}}
            <canvas baseChart  width="500%"
                    [datasets]="barChar[4]"
                    [labels]="barChar[3]"
                    [options]="barChar[0]"
                    [legend]="barChar[2]"
                    [chartType]="barChar[1]">
            </canvas>
        </caption>
      </td>

    </table>
  </div>
</div>
<app-footer></app-footer>
