<app-header></app-header>
<div class="row" style="padding:10px 100px 10px 100px;">
  <div class="col-4">
    <app-personal-imformation></app-personal-imformation>
  </div>
  <div class="col-8">
    <div>
      <div>Add REPO</div>
      <div>
        <div>From URL:</div>
        <div>
          <tr>abc</tr>
          <tr>abc</tr>

          <table>
            <tr>abc</tr>
          </table>
          <button>Create Project </button>
        </div>


      </div>
      <div>
        <button (click)="goToAddRepoFromGithub()">FROM GITHUB(Should Link First)</button>
        <img>
      </div>

    </div>

  </div>

</div>
<app-footer></app-footer>
