<app-header></app-header>
<div class="row" style="padding:10px 100px 10px 100px;">
  <div class="col-4">
    <app-repo-imformation></app-repo-imformation>
  </div>
  <div class="col-8">
    <br>
    <h2>ISSUE TRACK</h2>
    <table>
      <tr class="tableHead">
        <td>Title</td>
        <td>StartDate</td>
        <td>CloseDate</td>
        <td>State</td>
        <td>Body</td>

      </tr>
      <tr>
        <td>
          <ng-container *ngFor="let title of titles">
            <div style="height: 50px;border-bottom-style: dashed;">{{title}}</div>
          </ng-container>
        </td>
        <td>
          <ng-container *ngFor="let startDate of startDates">
            <div class="mydiv">{{startDate}}</div>
          </ng-container>
        </td>
        <td>
          <ng-container *ngFor="let closeDate of closeDates">
            <div style="width: 150px;height: 50px;border-bottom-style: dashed">{{closeDate}}</div>
          </ng-container>
        </td>
        <td>
          <ng-container *ngFor="let State of States">
            <div class="mydiv">{{State}}</div>
          </ng-container>
        </td>
        <td>
          <ng-container *ngFor="let body of bodys">
            <div style="height: 50px;border-bottom-style: dashed;">{{body}}</div>
          </ng-container>
        </td>

      </tr>
    </table>


  </div>

</div>
