<app-header></app-header>
<meta charset="UTF-8" />
<div class="row" style="padding:10px 100px 10px 100px;">
  <div class="col-4">
    <app-repo-imformation></app-repo-imformation>
  </div>

  <div class="col-8">
    <br>
    <h2>ISSUE TRACK</h2>
    <mat-accordion class="example-headers-align">
      <ng-container *ngFor="let title of titles ; let i = index">
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
          <mat-expansion-panel-header [collapsedHeight]="'auto'" [expandedHeight]="'auto'">
            <mat-panel-title>
              <div>
                <img [src]="avatars[i]" height="45" class="personal-avatar">
                {{posters[i]}}
              </div>
            </mat-panel-title>

            <mat-panel-description>
              <tr>
                <p>{{title}}</p>
                  <ng-container *ngFor="let label of labels[i] ; let j = index">
                    <td>
                      <mat-basic-chip [style.background-color]= label.color>  &nbsp;{{label.name}}&nbsp;</mat-basic-chip>
                    </td>
                  </ng-container>
              </tr>

              <p class="status">{{States[i]}}</p>

            </mat-panel-description>
          </mat-expansion-panel-header>
          <br>
          <br>
          <br>
          <p>Since: {{startDates[i]}}</p>
          <p>Update: {{updateDates[i]}}</p>
          <p>Close: {{closeDates[i]}}</p>
          <p>Link: {{html_urls[i]}}</p>
          <pre class="bodyPre">{{bodys[i]}}</pre>
        </mat-expansion-panel>

      </ng-container>
    </mat-accordion>
  </div>
</div>
<app-footer></app-footer>
