.mydiv{
  height: 50px;
  width: 150px;
  border-bottom-style: dashed;
}
.tableHead{
  border-bottom-style: solid;
}
.mydiv{
  height: 50px;
  width: 150px;
  border-bottom-style: dashed;
}
.tableHead{
  border-bottom-style: solid;
}
