<app-header></app-header>
<div class="row" style="padding:10px 100px 10px 100px;">
  <div class="col-4">
    <app-repo-imformation></app-repo-imformation>
  </div>

  <div class="col-8">
    <br>
    <h2>ISSUE TRACK</h2>
    <mat-accordion class="example-headers-align">
      <ng-container *ngFor="let title of titles ; let i = index">
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{States[i]}}
            </mat-panel-title>

            <mat-panel-description>
              {{title}}
            </mat-panel-description>

<!--            <mat-icon>done_outline</mat-icon>-->
          </mat-expansion-panel-header>

          <br>
          <p class="dateP">Since:{{startDates[i]}}</p>
          <br>
          <p class="dateP">Close:{{closeDates[i]}}</p>

          <br>

          <pre class="bodyPre">{{bodys[i]}}</pre>
          <br>
        </mat-expansion-panel>

      </ng-container>
    </mat-accordion>
  </div>

</div>
<app-footer></app-footer>
