<app-header></app-header>
<div class="row" style="padding:10px 100px 10px 100px;">
  <app-repo-imformation></app-repo-imformation>

  <div>TEAM ANALYSIS</div>
  <div class="col-3">
    <table>
      <tr>
        <td>
          <button
          >COMMIT TREND</button>
        </td>
        <td>
          <button>CODE BASE</button>
        </td>
      </tr>
      <tr>

        <td>
          <button>ISSUE TRACK</button>
        </td>
        <td>
          <button>COMMIT LOG</button>
        </td>
      </tr>
    </table>


  </div>
</div>

