<app-header></app-header>
<div class="row" style="padding:10px 100px 10px 100px;">
  <div class="col-4">
    <app-repo-imformation></app-repo-imformation>
  </div>


<!--  <div>TEAM ANALYSIS</div>-->
  <div class="col-8">
    <br>
    <table>
      <tr>
        <td>
          <div><button  class="myButton" (click)="goToCommitTrendPage()">COMMIT TREND & CODE BASE</button></div>
        </td>
<!--        <td>-->
<!--          <div><button  class="myButton" (click)="goToCodeBasePage()">CODE BASE</button></div>-->

<!--        </td>-->
        <td>
          <div><button  class="myButton" (click)="goToIssueTrackPage()">ISSUE TRACK</button></div>
        </td>
      </tr>





    </table>


  </div>
</div>
<app-footer></app-footer>

